PORT=5000
MONGODB_URI=
CLIENT_ORIGIN=http://localhost:3000
ADMIN_EMAIL=admin@nxew.com
ADMIN_NAME=NXew Admin
ADMIN_PASSWORD=
EMAILJS_SERVICE_ID=service_xxxxxxx
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAILJS_TEMPLATE_DEFAULT=
EMAILJS_TEMPLATE_ORDER_PLACED=
EMAILJS_TEMPLATE_ORDER_CANCELLED=
EMAILJS_TEMPLATE_CUSTOMIZATION=
EMAILJS_TO_EMAIL=tedpole.in@gmail.com
